.grid-container {
    display: grid;
    grid-template-columns: 2fr 3fr; 
    grid-template-rows: auto 1fr auto; 
    grid-template-areas: 
      "header header  header header"
      "nav nav nav  nav"
      "section section  aside aside"
      "article article aside aside"
      "footer footer footer footer";
    gap: 5px; 
    height: 100vh; 
  }
  
  .header {
    grid-area: header;
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 20px;
    height: 3rem;
  }

  .nav {
    grid-area: nav;
    background-color: cyan;
    color: white;
    text-align: center;
    padding: 20px;
    height: 3rem;
}

  .aside {
    grid-area: aside;
    background-color: white;
    padding: 20px;
    height: 49rem;
    width: 20rem;
  }

  
  .article {
    grid-area: article;
    background-color: salmon;
    padding: 20px;
  }

  .section {
    grid-area: section;
    background-color: gold;
    padding: 20px;
  }

  .footer {
    grid-area: footer;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
  }

  @media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
        "header"
        "nav"
        "section"
        "article"
        "aside"
        "footer";
    }
  }